[Desktop Entry]
Encoding=UTF-8
Name=Link to Installation — Flask Documentation (0.11)
Type=Link
URL=http://flask.pocoo.org/docs/0.11/installation/#installation
Icon=text-html
